<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <%- include('./partials/head')%>
</head>

<body>
    <%- include('./partials/navbar') %>

        <main >

            <h1 class="titulo2">Creación de Nuevo Producto</h1>

            <form action="/producto/create" method="post" enctype="multipart/form-data">

                <label for="nombre">Nombre</label>

                <input class="input1" type="text" name="nombre" required>

                <label for="descripcion">Descripcion</label>

                <textarea name="descripcion" required></textarea>

                <label for="categoria">Seleccionar categoria</label>

                <select name="categoria">
                    <% for (let i =0; i<categorias.length; i++) { %>
                        <option value="<%=categorias[i]%>"><%=categorias[i]%></option>
                    <%}%> 
                </select>

                <label for="img">Subir Imagen</label>
                <input  type="file" name="img" required>

                <label for="talles">Seleccionar Talle</label>

                <div>
                    <% for (let i =0; i<talles.length; i++) { %>
                        <label>
                            <input type="checkbox" name="talles" value="<%=talles[i]%>"><%=talles[i]%>
                        </label>
                    <%}%> 
                </div>


                <label for="color">Seleccionar Color</label>

                <select name="color">
                    <% for (let i =0; i<colores.length; i++) { %>
                        <option value="<%=colores[i]%>" ><%=colores[i]%></option> 
                    <%}%> 
                </select>

                <label for="precio">Precio</label>
                <input class="input1" type="number" name="precio" required>


                <button class="btn1" type="submit">Crear producto</button>

            </form>


                
        </main>


        </main>

</body>
<%- include('./partials/footer')%>

</html>