<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <%- include('./partials/head')%>
</head>

<body>
    <%- include('./partials/navbar') %>
    
        <main >
            <%if (locals && locals.errores) {%>

                <%errores.forEach(error => { %>
    
                    <p style="color:red; text-align:center">
                        <%= error.msg%>
                    </p>
    
                <%})%>
     
            <%}%>

            <h1 class="titulo2">Creación de Nuevo Producto</h1>

            <form action="/producto/create" method="post" enctype="multipart/form-data">

                <label for="nombre">Nombre</label>

                <input class="input1" type="text" name="nombre">

                <label for="descripcion">Descripcion</label>

                <textarea name="descripcion" ></textarea>

                <label for="categoria">Categoria</label>

                <select name="categoria">
                    <% for (let i =0; i<categorias.length; i++) { %>
                        <option value="<%=categorias[i]%>"><%=categorias[i]%></option>
                    <%}%> 
                </select>

                <label for="img">Imagen</label>
                <input  type="file" name="img">

                <label for="talle">Talle</label>

                <select name="talle">
                    <% for (let i =0; i<categorias.length; i++) { %>
                        <option value="<%=talles[i]%>"><%=talles[i]%></option>
                    <%}%> 
                </select>

                <label for="color">Color</label>
                <input class="input1" type="text" name="color" >

                <label for="precio">Precio</label>
                <input class="input1" type="number" name="precio" >

                <label for="stock">Stock</label>
                <input class="input1" type="number" name="stock" >


                <button class="btn1" type="submit">Crear producto</button>

            </form>


                
        </main>


        </main>

</body>
<%- include('./partials/footer')%>

</html>