<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/formcreacion.css">
    <%- include('./partials/head')%>
</head>

<body>
    <%- include('./partials/navbar') %>

        <main class="main-container-create">

            <div class="form-group-create">


                <h1 class="titulo2">Editar Producto</h1>

                <form class="form-button" action="/edit" method="post">

                    <input class="login-button" type="text" name="name" default="<%=producto.descripcion%>" required>

                    <textarea class="login-button" name="description" default="<%=producto.descripcion%>" required></textarea>

                    <p class="p">Seleccionar categoria</p>

                    <select class="login-button" name="categoria" required>
                        <option value="Hombres">Hombres</option>
                        <option value="Mujeres">Mujeres</option>
                        <option value="Accesorios">Accesorios</option>
                    </select>

                    <label for="img">Subir Imagen</label>
                    <input class="login-button" type="file" name="img" required>

                    <p class="p">Seleccionar Talle</p>

                    <div> 
                        <label><input type="checkbox" name="" value="XS">  XS<label>
                        <label><input type="checkbox" name="S" value="S"> S</label>
                        <label><input type="checkbox" name="M" value="M"> M</label>
                        <label><input type="checkbox" name="L" value="L"> L</label>
                        <label><input type="checkbox" name="XL" value="XL"> XL</label>
                    </div>

                    <select class="login-button" name="color">
                            <option value="Negro">Negro</option>
                            <option value="Rojo">Rojo</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Celeste">Celeste</option>
                            <option value="Rosado">Rosado</option>
                            <option value="Gris">Gris</option>
                            <option value="Naranja">Naranja</option>
                            <option value="Azul">Azul</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Verde">Verde</option>
                            <option value="Combinado">Combinado</option>
                            <option value="Tricolor">Tricolor</option>
                    </select>

                    <label for="Precio">Precio del Producto</label>
                    <input class="login-button" type="number" name="Precio" step="any" min="1" required>


                    <button class="send" type="submit">Editar producto</button>

                </form>

                <form >
                    
                    <br>
                    
                    <br>


                    
                    
                    <br>
                    


                    <br>

                    

                    <form class="login-button" value="Talles" name="Talles">

                       
                    </form>

                    <br>
                    <p class="p">Seleccionar Color</p>

                    


                    <br>
                    
                    <br>
                   
                </form>

            </div>


        </main>


        </main>

</body>
<%- include('./partials/footer')%>

</html>