<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <title>Ambos Seven - Registrarse</title>
    <%- include('./partials/head')%>
</head>
<body>
    <header>
        <%-include('./partials/navbar') %>
    </header>
    <main>
        <%if (locals && locals.errores) {%>

            <%errores.forEach(error => { %>

                <p style="color:red; text-align:center">
                    <%= error.msg%>
                </p>

            <%})%>
 
        <%}%>

        
        <form action="/user/registro" method="POST" enctype="multipart/form-data" class="registro" id="formulario">

            <h2 class="titulo2">Crear cuenta</h2>

            <fielset class="control-register" id="grupo__nombreCompleto">
                <label class="formulario__label">Nombre y Apellido</label>
                <div class="formulario__grupo-input">
                    <input class="formulario__input" type="text" name="nombreCompleto" id="nombreCompleto" value="<%= locals.old && old.nombreCompleto ? old.nombreCompleto : '' %>" >
                    <i class="formulario__validacion-estado fas fa-times-circle ocultar ocultar"></i>
                </div>
                <p class="formulario__input-error">El nombre debe tener al menos 2 caracteres.</p>
            </fielset>

            <fielset class="control-register" id="grupo__email">
                <label class="formulario__label">Dirección de Correo Electrónico</label>
                <div class="formulario__grupo-input">
                    <input class="formulario__input" type="email" name="email" placeholder="tunombre@email.com" value="<%= locals.old && old.email ? old.email : '' %>">
                    <i class="formulario__validacion-estado fas fa-times-circle ocultar"></i>
                </div>
                <p class="formulario__input-error">El correo solo puede contener letras, números, puntos, guiones y guion bajo.</p>
            </fielset>

            <fielset class="control-register" id="grupo__telefono">
                <label class="formulario__label">Teléfono</label>
                <div class="formulario__grupo-input">
                    <input class="formulario__input" typeaction="/user/registro" method="POST" enctype="multipart/form-data" type="num" name="telefono" id="telefono" value="<%= locals.old && old.telefono ? old.telefono : '' %>" >
                    <i class="formulario__validacion-estado fas fa-times-circle ocultar"></i>
                </div>
                <p class="formulario__input-error">El telefono solo puede contener numeros y el máximo son 14 dígitos.</p>
                
            </fielset>
            
            <fielset class="control-register" id="grupo__img">
                <label class="formulario__label">Foto de perfil</label>
                <div class="formulario__grupo-input">
                    <input class="formulario__input" type="file" accept=".jpg,.png,jpeg" required onchange="validarImg()" name="img" id="img">
                    <i class="formulario__validacion-estado fas fa-times-circle ocultar"></i>
                </div>
                <p class="formulario__input-error">Debes cargar una imágen en formato .JPG, .JPEG o .PNG</p>
    
            </fielset>

            <fielset class="control-register" id="grupo__password">
                <label class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                    <input class="formulario__input" type="password" name="password" id="password">
                    <i class="formulario__validacion-estado fas fa-times-circle ocultar"></i>
                </div>
                <p class="formulario__input-error">La contraseña debe tener al menos 8 caracteres</p>
            </fielset>

            <fielset class="control-register" id="grupo__passwordConfirm">
                <label class="formulario__label">Repetir contraseña</label>
                <div class="formulario__grupo-input">
                    <input class="formulario__input" type="password" name="passwordConfirm" id="passwordConfirm">
                    <i class="formulario__validacion-estado fas fa-times-circle ocultar"></i>
                </div>
                <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
            </fielset><br><br>

            <div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
			</div>

           
            <button type="submit" class="btn1">Crear cuenta</button>
           
            

            <fielset class="control-register acomodar">
                <label>¿Ya tienes cuenta?</label> 
                <a href="/login">Inicia sesión</a>
            </fielset>

        </form>
    </main>
    <%- include('./partials/footer') %>

    <script src="/js/validaciones.js"></script>
    <script src="/js/validacionesFrontUserRegister.js"></script>
</body>
</html>